.grid {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template: auto 340px / repeat(3, auto);
    justify-items: center;
    gap: 20px;
}

.grid div {
    background-color: #607d8b;
    width: 250px;
    position: relative;
    counter-increment: counter;
}

.grid div::before {
    content: "Element " counter(counter);
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -43px;
    margin-top: -10px;
}
