div {
    width: 600px;
    margin: 20px auto;
    background-color: #eee;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    letter-spacing: 7px;
}

div::first-letter {
    color: red;
}

div::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 600px;
    height: 47px;
    padding: 30px;
    z-index: -1;
    background-image: linear-gradient(to right,
    #f34337 20%,
    #2197f2 20%,
    #2197f2 40%,
    #4eb050 40%,
    #4eb050 60%,
    #ea1e63 60%,
    #ea1e63 80%,
    #653cb8 80%);
}