:root {
    --color: #fe5721;
}

h1::before {
    content: "";
    background-color: var(--color);
    width: 150px;
    height: 80px;
    position: absolute;
    z-index: -1;
    transform: skew(15deg, 15deg);
}

h1::after {
    content: "";
    background-color: var(--color);
    width: 150px;
    height: 80px;
    position: absolute;
    z-index: -1;
    transform: skew(-15deg, -15deg);
}

h1 {
    width: 150px;
    height: 80px;
    margin: 50px auto;
    color: white;
    background-color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}