div {
    display: inline-block;
    background-color: #eee;
    outline: 5px solid black;
    padding: 20px 30px;
}

.div1 {
    border: 5px red solid;
    margin-left: 35%;
}

.div2 {
    border-width: 5px;
    border-color: blue green;
    border-style: solid;
    margin-left: 20px;
}

.div3 {
    border-width: 5px;
    border-color: red green blue yellow;
    border-style: dashed;
    margin-left: 20px;
}