div {
    width: 500px;
    padding: 20px;
    margin: auto;
    text-align: center;
    border: 2px solid rgb(37, 137, 155);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

p {
    width: 98%;
    margin: auto;
    background-color: #eee;
    padding: inherit;
    border: inherit;
    box-sizing: border-box;
}