/*
    Block:
    -Take full width if no width written
    -Adds line break before and after it
    -Respects: Padding , Margin , Width , Height

    Inline:
    -Doesn't add line break
    -Doesn't respect width and height
    -Respects padding and margin (left and right sides only)
    -Allow elements before and after it

    Inline-Block:
    -Respects: Padding , Margin , Width , Height
    -Allow elements before and after it
*/

div {
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    display: none; /* makes it invisible */
}

span {
    background-color: #eee;
    width: 400px;
    height: 100px;
    padding: 30px;
    margin: 20px;
    display: block;
}

.s1 {
    visibility: hidden; /* makes it invisible but keeps its space */
}

